<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggler"
        (click)="collapsed = !collapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>
    <div
      class="navbar-collapse justify-content-between"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a (click)="onNavigate('recipes')" class="nav-link" href="#"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a (click)="onNavigate('list')" class="nav-link" href="#"
            >Shopping list</a
          >
        </li>
      </ul>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
