<div class="row">
  <div class="col-md-5">
    <app-recipe-list
    ></app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-detail
    [recipe]="clickedRecipe"
    *ngIf="clickedRecipe; else infoText"
    ></app-recipe-detail>
    <ng-template #infoText>
        Please selec a recipe
    </ng-template>
  </div>
  <button (click)="onReloadPage()" class="btn m-2 col-2 btn-primary">Reload Page</button>
  <button (click)="onPassQueryParams(1)" class="btn m-2 col-2 btn-primary">pass querry params</button>
</div>
